@model PAVM
@{
    ViewBag.Title = "ShoppingList";
}

<div class="alert-danger text-center" style="font-size:large">
    @TempData["hata"]
    @TempData["giris"]
</div>

<div class="alert-success text-center" style="font-size:large">
    @TempData["odeme"]
</div>

<div class="row">
    <div class="col-md-3">
        <section class="panel">
            <div class="panel-body">
                <input type="text" placeholder="Ürünlerde Ara" class="form-control" id="search">
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                Kategoriler
            </header>
            <div class="panel-body">
                <ul class="nav prod-cat">
                    @foreach (Category item in Model.Categories)
                    {
                        <li>@Html.ActionLink(item.Name, "ShoppingList", new { categoryID = item.ID }, new { @class = "icon-angle-right" })</li>
                    }
                </ul>
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                Önerilen Ürünler
            </header>
            <div class="panel-body">
                <div class="best-seller">
                    @{
                        Product element = Model.Products.Where(x => x.ID == 1).FirstOrDefault();

                        <article class="media">
                            <a class="pull-left thumb p-thumb">
                                <img src="@element.ImagePath">
                            </a>
                            <div class="media-body">
                                <a href="@Url.Action("ProductDetail", new { id=element.ID})" class=" p-head">@element.Name</a>
                                <p>@element.UnitPrice.ToString("C2")</p>
                            </div>
                        </article>

                        Product element2 = Model.Products.Where(x => x.ID == 6).FirstOrDefault();

                        <article class="media">
                            <a class="pull-left thumb p-thumb">
                                <img src="@element2.ImagePath">
                            </a>
                            <div class="media-body">
                                <a href="@Url.Action("ProductDetail", new { id=element2.ID})" class=" p-head">@element2.Name</a>
                                <p>@element2.UnitPrice.ToString("C2")</p>
                            </div>
                        </article>

                        Product element3 = Model.Products.Where(x => x.ID == 11).FirstOrDefault();

                        <article class="media">
                            <a class="pull-left thumb p-thumb">
                                <img src="@element3.ImagePath">
                            </a>
                            <div class="media-body">
                                <a href="@Url.Action("ProductDetail", new { id=element3.ID})" class=" p-head">@element3.Name</a>
                                <p>@element3.UnitPrice.ToString("C2")</p>
                            </div>
                        </article>

                        Product element4 = Model.Products.Where(x => x.ID == 16).FirstOrDefault();

                        <article class="media">
                            <a class="pull-left thumb p-thumb">
                                <img src="@element4.ImagePath">
                            </a>
                            <div class="media-body">
                                <a href="@Url.Action("ProductDetail", new { id=element4.ID})" class=" p-head">@element4.Name</a>
                                <p>@element4.UnitPrice.ToString("C2")</p>
                            </div>
                        </article>
                    }
                </div>
            </div>
        </section>


    </div>
    <div class="col-md-9">
        <section class="panel">
            <div class="panel-body">
                <div class="pull-right">
                    <ul class="pagination pagination-sm pro-page-list">
                        @if (ViewBag.categoryID != null)
                        {
                            <li>@Html.PagedListPager(Model.PagedProducts, page => Url.Action("ShoppingList", new { page, categoryID = ViewBag.categoryID }))</li>
                        }
                        else
                        {
                            <li>@Html.PagedListPager(Model.PagedProducts, page => Url.Action("ShoppingList", new { page }))</li>
                        }
                    </ul>
                </div>
            </div>
        </section>

        <div class="row product-list">
            <ul id="ul">
                @foreach (Product item in Model.PagedProducts)
                {
                    <li id="li">
                        <div class="col-md-4" id="div" style="width:427px; height:554px">
                            <section class="panel" style="width:400px; height:540px">
                                <div class="pro-img-box">
                                    <a href="@Url.Action("ProductDetail", new { id=item.ID})"><img src="@item.ImagePath" alt="Resim Yok" title="@item.Name" width="397" height="397" /></a>
                                    <a href="@Url.Action("AddToCart", new { id=item.ID})" class="adtocart">
                                        <i class="icon-shopping-cart"></i>
                                    </a>
                                </div>

                                <div class="panel-body text-center">
                                    <h4>
                                        <a href="@Url.Action("ProductDetail", new { id=item.ID})" class="pro-title">
                                            @item.Name
                                        </a>
                                    </h4>
                                    <p class="price">@item.UnitPrice.ToString("C2")</p>
                                </div>
                            </section>
                        </div>
                    </li>

                }
            </ul>

        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $("#search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#ul li").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });



</script>